* {
    margin: 0px;
}

ol {
    font-family:Open, Sans Extra-bold, 800;
    font-size: large;
}

#rectangle {
    padding: 30px;
    margin:10px;
    height:100px;
    background-color: rgb(255, 23, 23);
    border:1px solid rgb(0, 0, 0);
}

p {
    background-color: rgb(19, 255, 102);
}

section {
    padding: 30px;
    background-color: rgb(47, 134, 255);
}

/*5 Farbstufen wären möglich indem man nur den Hintergrund
  vom Text ändern würde und nicht die ganze breite */