body {
    text-align: center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 70em) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        }
}

.grid-item {
    border: black solid;
}
