
* {
    margin: 0px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}
.Title {
    text-align: center;
    margin-bottom: 10px;
}
.smallerText {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  /*Grid*/
  .grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
/*Grid*/

.mainImg{
    max-width: 100%;
}
.smallerImg {
    max-width: 33vw;
}
#left {
	float: left;
	
}
#right {
	float: right;
}
/***************************************Footer*********************************/
footer {
	width: 100%;
	position: relative;
	max-height: 20%;
	background-color: #b3b3b3;
  }
  footer .col {
	width: 190px;
	height: auto;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 20px 20px 20px;
  }
  footer .col h1 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 0px 5px 0px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.250em;
  }
  footer .col ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  footer .col ul li {
	color: #ffffff;
	font-size: 14px;
	font-family: inherit;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
  }
  .social ul li {
	display: inline-block;
	padding-right: 5px !important;
  }
  
  footer .col ul li:hover {
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
  }
  .clearfix {
	clear: both;
  }
  @media only screen and (min-width: 1280px) {
	.contain {
	  width: 1200px;
	  margin: 0 auto;
	}
  }
  @media only screen and (max-width: 1139px) {
	.contain .social {
	  width: 1000px;
	  display: block;
	}
	.social h1 {
	  margin: 0px;
	}
  }
  @media only screen and (max-width: 950px) {
	footer .col {
	  width: 33%;
	}
	footer .col h1 {
	  font-size: 14px;
	}
	footer .col ul li {
	  font-size: 13px;
	}
  }
  @media only screen and (max-width: 500px) {
	  footer .col {
		width: 50%;
	  }
	  footer .col h1 {
		font-size: 14px;
	  }
	  footer .col ul li {
		font-size: 13px;
	  }
  }
  @media only screen and (max-width: 340px) {
	footer .col {
	  width: 100%;
	}
  }
/***************************************Footer*********************************/
